<div class="cards-container">
    <div class="card-wrapper">

        <div class="card calculator-card">
            <div class="card-header">
                Eligibility Calculator
            </div>
            <div class="card-body">
                <div class="form-group">
                    <label class="form-label">Monthly Income</label>

                    <!-- <input type="range" min="1" max="100" value="50" class="slider" id="myRange"> -->
                </div>
                <div class="form-group">
                    <label class="form-label">Monthly Income</label>
                    <!-- <input type="range" min="1" max="100" value="50" class="slider" id="myRange"> -->
                </div>

            </div>
        </div>
        <div class="card calculated-card">
            <div class="calc-card-body">
                <div class="info-section">
                    <label class="label info-label">Loan Amount</label>
                    <p class="info-amount">1,00,000</p>
                </div>
                <div class="info-section emi">
                    <label class="label info-label">Your EMI will be</label>
                    <p class="info-amount">15,000</p>
                </div>
                <button class="call-to-action" type="button">GET MONEY</button>
            </div>
        </div>
    </div>
</div>