<section class="home">
    <div class="showcase">
        <div class="left-column">
            <div class="showcase-text">
                <p>We make it Super</p>
                <p>Simple</p>
                <hr>
            </div>
            <div class="showcase-img-container">
                <img src = "/assets/images/collect_img-video.png" class="banner" alt="open-image" title="open image">
            </div>
        </div>
        <div class="right-column">
            <app-calculator></app-calculator>
        </div>
    </div>
</section>